# Introduction to Pandas

Python is a general purpose programming language that has gained a lot of traction because its wide variety of libraries and simple syntax. One of those libraries is **pandas**, an effort from the Python community to have a functionality similar to that of *R* native *DataFrame*; the following examples are by no means an extensive presentation of Python's data manipulation capabilities, but rather a quick introduction to get you up and running.

In [1]:
import numpy as np
import pandas as pd
import pyomo.environ as pyo
import testbed
import warnings
warnings.filterwarnings(action='ignore')     # if getting some boring warnings

dfInput = pd.read_excel('data/input_data.xlsx')

In [2]:
# Basics statistics from the dataset
dfInput.describe()

            period   cap_factor       demand
count  8736.000000  8736.000000  8736.000000
mean   4368.500000     0.308434   429.329240
std    2522.010309     0.268107   193.377389
min       1.000000     0.000000    18.463107
25%    2184.750000     0.090000   259.946926
50%    4368.500000     0.210000   437.184466
75%    6552.250000     0.490000   585.038592
max    8736.000000     0.990000  1000.000000

In [3]:
# selecting the first 24 hours, all the columns
# by default, the row index is an integer that starts at zero, so in this dataset period is variable like cap_factor or demand
dfSlice = dfInput.iloc[0:24, :]  # zero based indexing, last element (24) is not returned
dfSlice

    period  cap_factor      demand
0        1        0.35  363.727832
1        2        0.38  319.511974
2        3        0.41  250.935275
3        4        0.47  182.028803
4        5        0.53  130.522977
5        6        0.59   97.003883
6        7        0.65   75.390615
7        8        0.71   39.123948
8        9        0.77   19.855016
9       10        0.79   22.492557
10      11        0.81   78.247896
11      12        0.84  123.965696
12      13        0.86  161.624272
13      14        0.87  193.751456
14      15        0.89  198.843366
15      16        0.92  162.100647
16      17        0.95  155.103560
17      18        0.96  189.062460
18      19        0.97  318.120065
19      20        0.97  382.337540
20      21        0.96  427.840129
21      22        0.94  458.823948
22      23        0.90  427.159223
23      24        0.84  431.774757

In [4]:
# selecting only the period and the demand
dfSlice = dfInput.iloc[0:24, [0, 2]] # selecting individual elements
dfSlice

    period      demand
0        1  363.727832
1        2  319.511974
2        3  250.935275
3        4  182.028803
4        5  130.522977
5        6   97.003883
6        7   75.390615
7        8   39.123948
8        9   19.855016
9       10   22.492557
10      11   78.247896
11      12  123.965696
12      13  161.624272
13      14  193.751456
14      15  198.843366
15      16  162.100647
16      17  155.103560
17      18  189.062460
18      19  318.120065
19      20  382.337540
20      21  427.840129
21      22  458.823948
22      23  427.159223
23      24  431.774757

In [5]:
# selecting only the period and the demand with .loc
dfSlice = dfInput.loc[0:24, ['period', 'demand']]
dfSlice

    period      demand
0        1  363.727832
1        2  319.511974
2        3  250.935275
3        4  182.028803
4        5  130.522977
5        6   97.003883
6        7   75.390615
7        8   39.123948
8        9   19.855016
9       10   22.492557
10      11   78.247896
11      12  123.965696
12      13  161.624272
13      14  193.751456
14      15  198.843366
15      16  162.100647
16      17  155.103560
17      18  189.062460
18      19  318.120065
19      20  382.337540
20      21  427.840129
21      22  458.823948
22      23  427.159223
23      24  431.774757
24      25  335.264078

In [6]:
# getting data for a period interval
p_ini = 25
p_end = p_ini + 6*24

# returns the index of the elements that fulfill the logical condition; boolean values
# mind the parenthesis (& is a bitwise operator)!!
idx = (dfInput['period'] >= p_ini) & (dfInput['period'] <= p_end)
dfInput[idx]

     period  cap_factor      demand
24       25        0.78  335.264078
25       26        0.71  246.466019
26       27        0.63  188.109709
27       28        0.60  155.250162
28       29        0.59  140.926861
..      ...         ...         ...
164     165        0.65  579.694822
165     166        0.56  597.475405
166     167        0.47  535.886084
167     168        0.41  514.435922
168     169        0.36  398.382524

[145 rows x 3 columns]

In [7]:
# Creating new columns, for example let us divide the data by weeks
slice_length = 168
n_slices = np.ceil(dfInput.period.max()/slice_length) # the last block might be incomplete
print(f'The data can be sliced in {n_slices:.0f} parts of length {slice_length:.0f} each')

# creating the week, this works for any length
# mind the double-slash for integer division
dfInput['week'] = (dfInput['period']-1)//slice_length + 1
dfInput.describe()

The data can be sliced in 52 parts of length 168 each

            period   cap_factor       demand        week
count  8736.000000  8736.000000  8736.000000  8736.00000
mean   4368.500000     0.308434   429.329240    26.50000
std    2522.010309     0.268107   193.377389    15.00919
min       1.000000     0.000000    18.463107     1.00000
25%    2184.750000     0.090000   259.946926    13.75000
50%    4368.500000     0.210000   437.184466    26.50000
75%    6552.250000     0.490000   585.038592    39.25000
max    8736.000000     0.990000  1000.000000    52.00000

In [8]:
# some simple calculations

# average weekly demand
print(dfInput.groupby(by=['week'])['demand'].mean())

week
1     425.224172
2     533.409961
3     522.191418
4     593.112515
5     581.111625
6     510.466420
7     444.339276
8     468.721677
9     416.017896
10    427.068364
11    420.769799
12    468.906029
13    474.524574
14    368.209688
15    391.014161
16    359.324301
17    351.874272
18    291.074364
19    369.707468
20    371.366929
21    371.026566
22    367.213490
23    392.604720
24    400.659921
25    406.858830
26    424.732272
27    446.525653
28    459.891349
29    453.298615
30    462.578945
31    467.534323
32    351.361997
33    295.251437
34    312.824998
35    403.283944
36    424.918271
37    386.765565
38    383.634177
39    373.932842
40    392.295675
41    330.197311
42    376.363301
43    398.567430
44    366.864195
45    443.504458
46    512.440428
47    526.171515
48    557.188369
49    463.470371
50    594.733430
51    594.627672
52    395.363521
Name: demand, dtype: float64

In [9]:
# aggregations in a more general way
dfAgg = dfInput.groupby(by='week').agg({'demand': ['mean', 'max'],
                                        'cap_factor': ['mean', 'max']})
dfAgg.reset_index(drop=False, inplace=True) # to have the week as a data column and not as index
dfAgg.columns = ['_'.join(col) for col in dfAgg.columns]  # some tweaking to avoid indexing issues
dfAgg

    week_  demand_mean   demand_max  cap_factor_mean  cap_factor_max
0       1   425.224172   750.276052         0.653869            0.98
1       2   533.409961   821.360841         0.365179            0.86
2       3   522.191418   818.826214         0.493869            0.80
3       4   593.112515   935.573463         0.766845            0.97
4       5   581.111625   905.232686         0.663393            0.99
5       6   510.466420   813.113592         0.846845            0.99
6       7   444.339276   698.031068         0.462024            0.97
7       8   468.721677   744.866019         0.479762            0.83
8       9   416.017896   683.163430         0.649167            0.99
9      10   427.068364   703.667961         0.258452            0.92
10     11   420.769799   688.989320         0.142083            0.39
11     12   468.906029   799.078317         0.441964            0.97
12     13   474.524574   756.290939         0.461905            0.92
13     14   368.209688   687.740777         0.246726            0.77
14     15   391.014161   665.193528         0.155000            0.42
15     16   359.324301   607.046926         0.069464            0.37
16     17   351.874272   595.697411         0.445952            0.89
17     18   291.074364   583.742718         0.248452            0.68
18     19   369.707468   616.844984         0.145833            0.49
19     20   371.366929   657.551456         0.285060            0.78
20     21   371.026566   626.681230         0.359345            0.89
21     22   367.213490   611.435275         0.117024            0.49
22     23   392.604720   683.238835         0.228333            0.77
23     24   400.659921   671.473463         0.227917            0.62
24     25   406.858830   666.177023         0.151310            0.45
25     26   424.732272   696.063754         0.212500            0.70
26     27   446.525653   745.509061         0.175952            0.55
27     28   459.891349   768.094498         0.232381            0.52
28     29   453.298615   759.657929         0.226786            0.74
29     30   462.578945   777.211650         0.127440            0.54
30     31   467.534323   773.958252         0.075179            0.19
31     32   351.361997   621.574110         0.102619            0.81
32     33   295.251437   517.311003         0.215952            0.89
33     34   312.824998   537.588673         0.098988            0.31
34     35   403.283944   718.989644         0.154821            0.35
35     36   424.918271   693.604854         0.092262            0.26
36     37   386.765565   672.797411         0.151250            0.60
37     38   383.634177   658.988997         0.250952            0.58
38     39   373.932842   633.755663         0.108988            0.36
39     40   392.295675   667.501294         0.199524            0.53
40     41   330.197311   648.699029         0.249643            0.87
41     42   376.363301   664.512621         0.388869            0.78
42     43   398.567430   691.069903         0.121250            0.34
43     44   366.864195   689.443366         0.312262            0.95
44     45   443.504458   720.540453         0.504286            0.87
45     46   512.440428   806.795793         0.583810            0.95
46     47   526.171515   821.928155         0.239345            0.55
47     48   557.188369   867.779935         0.471964            0.89
48     49   463.470371   807.098382         0.353393            0.86
49     50   594.733430   916.052427         0.395774            0.80
50     51   594.627672  1000.000000         0.243512            0.80
51     52   395.363521   713.390615         0.383095            0.93

In [10]:
# exporting data is as easy as loading it
# idx comes from a previous cell and has the first six weeks of data
dfSlice = dfInput[idx]

# Excel
# the index option is to avoid having that extra column with the row index
dfSlice.to_excel('output.xlsx', index=False)
dfAgg.to_excel('grouped_data.xlsx', index=False)

# CSV file
# sep is to separate columns, while decimal is the decimal symbol to export the data
dfSlice.to_csv('output.csv', index=False, sep=';', decimal=',')

In [11]:
slvr = 'gurobi'     # change according to the solver installed on your machine
results_complete = testbed.run_complete_case(folder='data', case='complete_single_node.xlsx', solver=slvr)

WARNING: Could not locate the 'glpsol' executable, which is required for
    solver 'glpk'

ApplicationError: No executable found for solver 'glpk'

In [ ]:
results_complete